<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to Developer Days</h1>
    <p>Introduction to Devops Session By Mohit Bhat</p>
  </body>
</html>
